@model BlossomWeb.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>                
                <label>用户名</label>
                <input id="username" type="text"/>
            </li>
            <li>
                <label>密码</label>
                <input id="pwd" type="password" />                
            </li>
        </ol>
        <input type="button" onclick="LoginSumit()" value="登 陆" />
    </fieldset>
    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>
<script type="text/javascript">
    function LoginSumit() {
        if ($("#username").val() == "") {
            alert("请输入用户名");
            $("#username").focus();
            return false;
        }
        if ($("#pwd").val() == "") {
            alert("请输入密码");
            $("#pwd").focus();
            return false;
        }

        $.post("/Home/LoginSumit?username=" + $("#username").val() + "&pwd=" + $("#pwd").val(), {}, function (data, textStatus, jqXhr) {
            if (data.indexOf("用户名和密码错误") > -1) {
                alert(data);
                return false;
            } 
            setTimeout('javascript:location.href="'+data+'"', 500);

        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
