@{
    ViewBag.Title = "AddProduct";
    Layout = null;
}

<html>
<head>
    <title>添加修改产品列表</title>
    @Styles.Render("~/Content/easyuicssdetail")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jeasyuidetail")
    <script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.easyui.min.js")" type="text/javascript"></script>
</head>
<body>
    <div style="margin: auto auto; text-align: left;">
        <div>
            <div style="padding: 10px 0 10px 60px">
                <form id="fItem" method="post" enctype="multipart/form-data">
                    <div>
                        <label>中文名:</label>
                        <input class="easyui-validatebox" type="text" name="Cnname" data-options="required:true" />
                    </div>
                    <div>
                        <label>英文名:</label>
                        <input class="easyui-textbox" type="text" name="Enname" />
                    </div>

                    <div>
                        <label>上一级:</label>
                        <input class="easyui-textbox" type="text" name="_parentId" />
                        <input id="cc1" class="easyui-combobox" data-options="
                        valueField: 'id',
                        textField: 'text',
                        url: 'get_data1.php',
                        onSelect: function(rec){
                        var url = 'get_data2.php?id='+rec.id;
                        $('#cc2').combobox('reload', url);
                }" />  
                    </div>
                    <div>
                        <label>小图标:</label>
                        <input class="easyui-filebox" name="Icon" />
                    </div>
                    <div>
                        <label>第一张:</label>
                        <input class="easyui-filebox" name="Firstimg" />
                    </div>
                    <div>
                        <label>第二张:</label>
                        <input class="easyui-filebox" name="Secondimg" />
                    </div>
                    <div>
                        <label>第三张:</label>
                        <input class="easyui-filebox" name="Thirdimg" />
                    </div>
                    <input type="hidden" name="ID" value="" />
                </form>
            </div>
            <div style="padding: 5px; text-align: center;">
                <a href="javascript:void(0)" class="easyui-linkbutton" style="width: 50px" onclick=" submitForm() ">保存</a>
            </div>
        </div>
    </div>
    <script>
            //当前ID
            var currentID = '@ViewBag.CurrentID';
            //是否新增状态
            var isAddNew = currentID == "" || currentID == "0";
            //是否查看状态

            var mainForm = $('#fItem');

            if (!isAddNew) {
                $('#fItem').form('load','/vehicle/getproduct?ID='+currentID);
            }

            function submitForm() {
                $('#fItem').form('submit', {
                    url: '/home/SaveProduct',
                    onSubmit: function(){    
                        // do some check    
                        // return false to prevent submit;    
                    },    
                    success:function(data) {
                        alert(data);
                    }    
                });  

                //var v = $('#fItem').form('validate'); //
                //if (!v)
                //    return false;

                //var options = {};
                //options.url = "/home/SaveProduct";
                //options.data = $("#fItem").serialize();
                //options.loading = "正在处理中...";
                //options.loadingParentID = "fItem";
                //options.success = function(data, message) {
                //    alert("保存成功");
                //};
                //gqajax(options);
                //return false;
            }

            function clearForm() {
                $('#fItem').form('clear');
            }

            function gqajax (options) {
                var p = options || {};
                //  var ashxUrl = options.ashxUrl || "/Admin/User/";
                //   var url = p.url || ashxUrl + $.param({ method: p.method });
                var targetID = options.loadingParentID; //表示加载进度条的父类节点

                $.ajax({
                    cache: false,
                    async: options.async == null || options.async ? true : false,
                    url: p.url,
                    data: p.data,
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        if (!result) return;
                        if (!result.IsError) {
                            if (p.success)
                                p.success(result.Data, result.Message);
                            else {
                            }
                        } else {
                            if (p.error)
                                p.error(result.Message);
                            else {
                            }
                        }
                    },
                    error: function (result, b) {
                    }
                });
            };
    </script>
</body>
</html>