@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>
<a id="btn" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width: 200px;"  onclick="AddItem()">添加产品 </a>

<table id="tg" class="easyui-treegrid" title="产品列表" style="width:90%;height:600px"
       data-options="
                showHeader:false,
				rownumbers: true,
				collapsible: false,
				fitColumns: true,
				url: '/home/getproducts',
				method: 'get',
				idField: 'ID',
				treeField: 'Cnname',
                onClickCell: ClickCell
			">
    <thead>
        <tr style="height: 40px">
            <th data-options="field:'ID',width:30">ID</th>
            <th data-options="field:'Cnname',width:200,align:'left'">中文名</th>
            <th data-options="field:'Enname',width:140">英文名</th>
            <th data-options="field:'Edit',width:80,align:'center',formatter:formatEdit">修改</th>
            <th data-options="field:'Delete',width:80,align:'center',formatter:formatDelete">删除</th>
        </tr>
    </thead>
</table>
@Styles.Render("~/Content/easyuicssdetail")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jeasyuidetail")
<script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.easyui.min.js")" type="text/javascript"></script>

<script type="text/javascript" defer="defer">
    function formatEdit() {
            return '<span style="color:blue">修改</span>';        
    }

    function formatDelete() {
        return '<span style="color:Red">删除</span>';
    }



    function ClickCell(field, row) {
        if (field == "Edit") {
            //alert("Add");
            window.open('AddProduct?ID='+row.ID, 'newwindow', 'height=400, width=600, top=100, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
        }
        if (field == "Delete") {            
            $.post("/home/DeleteProduct?ID=" + row.ID, {}, function (data, textStatus, jqXhr) {
                alert("删除成功");                
            });
        }
    }

    function AddItem() {
            window.open('AddProduct', 'newwindow', 'height=400, width=600, top=100, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
    }
</script>