@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>
<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width: 200px;"  onclick="AddItem()">添加产品 </a>

<table id="tg" class="easyui-treegrid" title="产品列表" style="width:90%;height:600px"
       data-options="
                showHeader:false,
				rownumbers: true,
				collapsible: false,
				fitColumns: true,
				url: '/home/getproducts',
				method: 'get',
				idField: 'ID',
				treeField: 'Cnname',
                onClickCell: ClickCell
			">
    <thead>
        <tr style="height: 40px">
            <th data-options="field:'ID',width:80">ID</th>
            <th data-options="field:'Cnname',width:160,align:'right'">中文名</th>
            <th data-options="field:'Enname',width:180">英文名</th>
            <th data-options="field:'Edit',width:80,align:'center',formatter:formatAdd">添加</th>
        </tr>
    </thead>
</table>
@Styles.Render("~/Content/easyuicssdetail")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jeasyuidetail")
<script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-easyui-1.4/jquery.easyui.min.js")" type="text/javascript"></script>

<script type="text/javascript" defer="defer">
    function formatAdd(value) {
        if (value) {
            return s;
        } else {
            return '<span style="color:blue">修改</span>';
        }
    }

    function ClickCell(field, row) {
        if (field == "Edit") {
            //alert("Add");
            window.open('AddProduct?ID='+row.ID, 'newwindow', 'height=400, width=600, top=100, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
        }        
    }

    function AddItem() {
            window.open('AddProduct', 'newwindow', 'height=400, width=600, top=100, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
    }
</script>